In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [2]:
data=pd.read_csv("C:/Users/Jothy Natarajan/Downloads/breast-cancer-wisconsin.data",header=None,na_values="?")
data.head(5)

        0   1   2   3   4   5     6   7   8   9   10
0  1000025   5   1   1   1   2   1.0   3   1   1   2
1  1002945   5   4   4   5   7  10.0   3   2   1   2
2  1015425   3   1   1   1   2   2.0   3   1   1   2
3  1016277   6   8   8   1   3   4.0   3   7   1   2
4  1017023   4   1   1   3   2   1.0   3   1   1   2

In [3]:
data.shape
data.columns=["code_number","Clump_Thickness","Uniformity_size","Uniformity_shape","Marginal_Adhesion","Epithelial_size","Bare_Nuclei","Bland_Chromatin","Normal_Nucleoli","Mitoses","Class"]

In [4]:
data.isnull().sum()

code_number           0
Clump_Thickness       0
Uniformity_size       0
Uniformity_shape      0
Marginal_Adhesion     0
Epithelial_size       0
Bare_Nuclei          16
Bland_Chromatin       0
Normal_Nucleoli       0
Mitoses               0
Class                 0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code_number        699 non-null    int64
 1   Clump_Thickness    699 non-null    int64
 2   Uniformity_size    699 non-null    int64
 3   Uniformity_shape   699 non-null    int64
 4   Marginal_Adhesion  699 non-null    int64
 5   Epithelial_size    699 non-null    int64
 6   Bare_Nuclei        683 non-null    float64
 7   Bland_Chromatin    699 non-null    int64
 8   Normal_Nucleoli    699 non-null    int64
 9   Mitoses            699 non-null    int64
 10  Class              699 non-null    int64
dtypes: float64(1), int64(10)
memory usage: 60.2 KB

In [6]:
data.Bare_Nuclei.fillna(data.Bare_Nuclei.mean(),inplace=True)
data.Bare_Nuclei.mode()

0    1.0
dtype: float64

In [7]:
data.isnull().sum()

code_number          0
Clump_Thickness      0
Uniformity_size      0
Uniformity_shape     0
Marginal_Adhesion    0
Epithelial_size      0
Bare_Nuclei          0
Bland_Chromatin      0
Normal_Nucleoli      0
Mitoses              0
Class                0
dtype: int64

In [8]:
data.drop("code_number",axis=1,inplace=True)

In [9]:
data.head()
y=data.Class
x=data.drop("Class",axis=1)

In [10]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder() 
y= label_encoder.fit_transform(y)
y=pd.DataFrame(y)

In [11]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Clump_Thickness    699 non-null    int64
 1   Uniformity_size    699 non-null    int64
 2   Uniformity_shape   699 non-null    int64
 3   Marginal_Adhesion  699 non-null    int64
 4   Epithelial_size    699 non-null    int64
 5   Bare_Nuclei        699 non-null    float64
 6   Bland_Chromatin    699 non-null    int64
 7   Normal_Nucleoli    699 non-null    int64
 8   Mitoses            699 non-null    int64
dtypes: float64(1), int64(8)
memory usage: 49.3 KB

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,train_size = 0.8, test_size = 0.2,shuffle=False)

In [13]:
from keras.models import Sequential
from tensorflow.keras import layers

In [14]:
model=Sequential()
model.add(layers.Dense(8,input_dim=9,activation='relu'))
model.add(layers.Dense(4,activation='relu'))
model.add(layers.Dense(1,activation='relu'))
model.add(layers.Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [15]:
model.fit(x_train,y_train,epochs=50)

Epoch 1/50
18/18 [==============================] - 1s 4ms/step - loss: 0.6922 - accuracy: 0.6315
Epoch 2/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6904 - accuracy: 0.6315
Epoch 3/50
18/18 [==============================] - 0s 5ms/step - loss: 0.6885 - accuracy: 0.6315
Epoch 4/50
18/18 [==============================] - 0s 5ms/step - loss: 0.6869 - accuracy: 0.6315
Epoch 5/50
18/18 [==============================] - 0s 6ms/step - loss: 0.6853 - accuracy: 0.6315
Epoch 6/50
18/18 [==============================] - 0s 7ms/step - loss: 0.6839 - accuracy: 0.6315
Epoch 7/50
18/18 [==============================] - 0s 7ms/step - loss: 0.6823 - accuracy: 0.6315
Epoch 8/50
18/18 [==============================] - 0s 3ms/step - loss: 0.6810 - accuracy: 0.6315
Epoch 9/50
18/18 [==============================] - 0s 3ms/step - loss: 0.6796 - accuracy: 0.6315
Epoch 10/50
18/18 [==============================] - 0s 5ms/step - loss: 0.6784 - accuracy: 0.6315
Epoch 11/50
18/18 [==============================] - 0s 3ms/step - loss: 0.6772 - accuracy: 0.6315
Epoch 12/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6760 - accuracy: 0.6315
Epoch 13/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6749 - accuracy: 0.6315
Epoch 14/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6739 - accuracy: 0.6315
Epoch 15/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6729 - accuracy: 0.6315
Epoch 16/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6720 - accuracy: 0.6315
Epoch 17/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6711 - accuracy: 0.6315
Epoch 18/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6703 - accuracy: 0.6315
Epoch 19/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6695 - accuracy: 0.6315
Epoch 20/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6687 - accuracy: 0.6315
Epoch 21/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6680 - accuracy: 0.6315
Epoch 22/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6673 - accuracy: 0.6315
Epoch 23/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6668 - accuracy: 0.6315
Epoch 24/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6662 - accuracy: 0.6315
Epoch 25/50
18/18 [==============================] - 0s 5ms/step - loss: 0.6656 - accuracy: 0.6315
Epoch 26/50
18/18 [==============================] - 0s 6ms/step - loss: 0.6651 - accuracy: 0.6315
Epoch 27/50
18/18 [==============================] - 0s 5ms/step - loss: 0.6646 - accuracy: 0.6315
Epoch 28/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6641 - accuracy: 0.6315
Epoch 29/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6637 - accuracy: 0.6315
Epoch 30/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6632 - accuracy: 0.6315
Epoch 31/50
18/18 [==============================] - 0s 5ms/step - loss: 0.6629 - accuracy: 0.6315
Epoch 32/50
18/18 [==============================] - 0s 5ms/step - loss: 0.6626 - accuracy: 0.6315
Epoch 33/50
18/18 [==============================] - 0s 5ms/step - loss: 0.6622 - accuracy: 0.6315
Epoch 34/50
18/18 [==============================] - 0s 5ms/step - loss: 0.6619 - accuracy: 0.6315
Epoch 35/50
18/18 [==============================] - 0s 5ms/step - loss: 0.6616 - accuracy: 0.6315
Epoch 36/50
18/18 [==============================] - 0s 5ms/step - loss: 0.6613 - accuracy: 0.6315
Epoch 37/50
18/18 [==============================] - 0s 5ms/step - loss: 0.6611 - accuracy: 0.6315
Epoch 38/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6609 - accuracy: 0.6315
Epoch 39/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6607 - accuracy: 0.6315
Epoch 40/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6605 - accuracy: 0.6315
Epoch 41/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6604 - accuracy: 0.6315
Epoch 42/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6602 - accuracy: 0.6315
Epoch 43/50
18/18 [==============================] - 0s 6ms/step - loss: 0.6601 - accuracy: 0.6315
Epoch 44/50
18/18 [==============================] - 0s 6ms/step - loss: 0.6599 - accuracy: 0.6315
Epoch 45/50
18/18 [==============================] - 0s 3ms/step - loss: 0.6598 - accuracy: 0.6315
Epoch 46/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6596 - accuracy: 0.6315
Epoch 47/50
18/18 [==============================] - 0s 5ms/step - loss: 0.6595 - accuracy: 0.6315
Epoch 48/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6594 - accuracy: 0.6315
Epoch 49/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6593 - accuracy: 0.6315
Epoch 50/50
18/18 [==============================] - 0s 4ms/step - loss: 0.6592 - accuracy: 0.6315

In [16]:
model.evaluate(x_test,y_test)

5/5 [==============================] - 0s 4ms/step - loss: 0.6051 - accuracy: 0.7500

[0.6051437258720398, 0.75]